:root {
  --accent-text: #1D6FB6;
}


body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: calc(20px / 16px);
  color: #25282b;
  background: #f8fcff;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* ============================================================================================= */

